<!DOCTYPE html>
<html>
  <head>
    <title>Chat Fun</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-custom navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Chat Fun</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li>
                <%= link_to "Sent messages", sent_messages_path, class: 'btn btn-outline-success my-2 my-sm-0' %>
              </li>
              <li>
                <%= link_to "New message", new_message_path, class: 'btn btn-outline-success my-2 my-sm-0'  %>
              </li>
              <li>
                <%= link_to "Find friends", users_path, class: 'btn btn-outline-success my-2 my-sm-0'  %>
              </li>
              <li>
                <%= link_to "Log out", logout_path, method: 'delete', class: 'btn btn-outline-success my-2 my-sm-0'  %>
              </li>
            <% else %>
              <li>
                <%= link_to "Sign Up", new_user_path, class: 'btn btn-outline-success my-2 my-sm-0' %>
              </li>
              <li>
                <%= link_to "Log in", new_session_path, class: 'btn btn-outline-success my-2 my-sm-0' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= flash_messages %>
    </div>

    <%= yield %>
  </body>


</html>
